
@{
    
}

<div class="row" id="divmsg">
    @*<div class="box box-body box-primary">*@

    @*<div class="content-wrapper">*@
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <h1>
            <small></small>
        </h1>
    </section>
    <!-- Main content -->
    <section class="content">
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <!-- The time line -->
                <ul class="timeline">
                    <!-- timeline time label -->
                    <li class="time-label">
                        <span class="bg-red">
                            Mensaje del equipo de Catalogo
                        </span>
                    </li>
                    <!-- /.timeline-label -->
                    <!-- timeline item -->
                    <li>
                        <i class="fa fa-user bg-blue"></i>
                        <div class="timeline-item">
                            <h3 class="timeline-header">Atencion para el acceso a la pagina</h3>
                            <div class="timeline-body">
                                <b>URGENTES:</b>  El usuario no tiene el rol necersario para ingresar al <b>MODULO</b><br />                                                               
                            </div>

                        </div>
                    </li>
                </ul>
            </div>
            <!-- /.col -->
        </div>
    </section>
    <!-- /.content -->
    @*</div>*@
    @*</div>*@

</div>

