@model CapaEntidad.Control.Ent_Roles
@{
    Layout = null;
}
@using (Ajax.BeginForm("Edit", new AjaxOptions { OnBegin = "OnEditar_Grabar();" }))
{
    <div class="modal-content">
        <div class="modal-header modal-header-primary">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="myModalLabel">Editando Roles</h4>
        </div>
        <div class="modal-body">
            <input type="hidden" id="idrol" value="@Model.rol_id" />
            <table class="table table-striped">
                <tr>
                    <td><label for="nombre">Nombre</label></td>
                    <td>
                        <input type="text" id="nombre" value="@Model.rol_nombre" placeholder="Ingrese el nombre" autofocus class="form-control" oninvalid="InvalidMsg(this,'Ingrese el nombre')" required="required" />
                    </td>                   
                </tr>    
                <tr>
                    <td><label for="nombre">Descripcion</label></td>
                    <td>
                        <input type="text" id="descripcion" value="@Model.rol_descripcion" placeholder="Ingrese la Descripcion" autofocus class="form-control" oninvalid="InvalidMsg(this,'Ingrese la descripcion')" required="required" />
                    </td>
                </tr>          
            </table>
        </div>
        <div class="modal-footer" style="margin-top:-30px">
            <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button>
            <input type="submit" class="btn btn-primary" id="btnSubmit" value="Aceptar" />
        </div>
    </div>
}
