@*
    This partial controls the top menu of the AdminLTE Template, being called automatically by _AdminLteLayout
       TODO: All of the content in here is stand-in that must be replaced by the real behavior of your app
*@
@using CapaEntidad.Util
@using CapaEntidad.Control
@using Microsoft.AspNet.Identity
@{
    ViewBag.Layout = null;
}

@*style="box-shadow: rgb(212, 210, 212) 0px 3px 2px 0px;" ---plomo*@
@*style="box-shadow: rgba(0, 0, 0, 0.75) 0px 3px 2px 0px;" ---negro*@ 
@*style="box-shadow: rgb(221, 75, 57) 0px 3px 2px 0px;" ---rojo*@  
@*style="box-shadow: rgb(250, 140, 127) 0px 3px 2px 0px;" ---rojo suave*@ 
@*style="box-shadow:rgb(135, 133, 135) 0px 3px 2px 0px;" ---plomo oscuro*@ 

<header class="main-header">
    <!-- Logo -->
    <a id="alogo" class="logo">
        @*<span class="logo-lg">*@
         @*<img src="~/Content/LogoAq/logoaq.png"/>*@
            <!--img src="~/Content/AdminLTE/img/Logo_aq1.jpg" width="90%" height="90%"/-->

        @*</span>*@
        @*<img src="~/Content/LogoAq/logoaq.png" />*@


        <span class="logo-mini"><img src="~/Content/LogoAq/logonewmini.png" style="width: 50px;height: 28px;" /></span>

        @*<span class="logo-mini"><img src="~/Content/LogoAq/logoaq2.png" /></span>*@
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><img src="~/Content/LogoAq/logonew2.png" style="width: 200px;height: 36px;" /></span>


        @*<b>Aquarella</b>*@
    </a>
    @*<a href="index2.html" class="logo"><b>BATA</b></a>*@
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top" role="navigation">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            <span class="sr-only">NAVEGACIÓN PRINCIPAL</span>
        </a>
        <!-- Navbar Right Menu -->
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <!-- Messages: style can be found in dropdown.less-->
                <!-- Notifications: style can be found in dropdown.less -->
                <!-- Tasks: style can be found in dropdown.less -->
                <!-- User Account: style can be found in dropdown.less -->

                @{Ent_Usuario user = (Ent_Usuario)HttpContext.Current.Session[Ent_Constantes.NameSessionUser];}
                @if (Request.IsAuthenticated && user != null)
                {
                    <li class="dropdown user user-menu">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="~/Content/AdminLTE/img/user2-160x160.jpg" class="user-image" alt="User Image" />
                            <span class="hidden-xs">@user.usu_nom_ape</span>
                        </a>
                        <ul class="dropdown-menu">
                            <!-- User image -->
                            <li class="user-header">
                                <img src="~/Content/AdminLTE/img/user2-160x160.jpg" class="img-circle" alt="User Image" />
                                <p>
                                    @user.usu_nom_ape
                                    <small>@user.usu_tip_nom</small>
                                </p>
                            </li>
                            <!-- Menu Body -->
                            @*<li class="user-body">
                                    <div class="col-xs-4 text-center">
                                        <a href="#">Followers</a>
                                    </div>
                                    <div class="col-xs-4 text-center">
                                        <a href="#">Sales</a>
                                    </div>
                                    <div class="col-xs-4 text-center">
                                        <a href="#">Friends</a>
                                    </div>
                                </li>*@
                            <!-- Menu Footer-->
                            <li class="user-footer">
                                @*<div class="pull-left">
                                        <a href="#" class="btn btn-default btn-flat">Profile</a>
                                    </div>*@
                                <div class="pull-right">
                                    @using (Html.BeginForm("LogOff", "Control", FormMethod.Post, new { id = "logoutForm" }))
                                    {
                                        <a href="javascript:document.getElementById('logoutForm').submit()" class="btn btn-default btn-flat">Cerrar Sessión</a>
                                    }
                                </div>
                            </li>
                        </ul>
                    </li>
                }
            </ul>
        </div>
    </nav>
</header>