@*<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/buttons/1.5.1/css/buttons.dataTables.min.css" />*@

<style type="text/css">
    .dt-buttons {
        display: none;
    }
</style>
<table id="TablaUsuarios" class="table table-hover dataTable  table-striped table-responsive">
    <thead>
        <tr style="background-color:#dd4b39; color:#ecf0f1">
            <th>Id</th>
            <th>Nombre</th>
            <th>Login</th>
            @*<th>Tipo</th>*@
            <th>Estado</th>
            <th></th> 
           
        </tr>
    </thead>
    <tbody data-bind="foreach:"></tbody>
    <tfoot>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Login</th>
            @*<th>Tipo</th>*@
            <th>Estado</th>
            <th></th> 
           
        </tr>
    </tfoot>
  
</table>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-app>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>
@*<script src='https://cdn.datatables.net/buttons/1.5.1/js/dataTables.buttons.min.js'></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js'></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/pdfmake.min.js'></script>
<script src='//cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.32/vfs_fonts.js'></script>
<script src='//cdn.datatables.net/buttons/1.5.1/js/buttons.html5.min.js'></script>*@

