@{
    Layout = null;
}

@using (Ajax.BeginForm("Nuevo", new AjaxOptions { OnBegin = "OnNuevo_Grabar();" }))
{ 
<div class="modal-content">
    <div class="modal-header modal-header-danger">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Nuevo Usuario</h4>
    </div>
    <div class="modal-body">       
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">Datos del Usuario</h3>
            </div>
            <table class="table table-striped">
                <tr>
                    <td><label for="dwtipo">Tipo Usuario</label></td>
                    <td>
                        @Html.DropDownList("dwtipo", new SelectList(ViewBag.usuariotipo, "usu_tip_id", "usu_tip_nombre", "0"), new { @class = "selectCountry form-control", @data_live_search = "false", @id = "dwtipo"})
                    </td>
                </tr>
                <tr>
                    <td><label for="nombre">Nombres</label></td>
                    <td>
                        <input type="text" id="nombre" name="nombre"  placeholder="Ingrese el nombre" class="form-control" oninvalid="InvalidMsg(this, 'Ingrese el nombre')" required="required"  />                       
                    </td>
                </tr>                
                <tr>
                    <td><label for="login">Login</label></td>
                    <td>
                       
                        <div class="form-inline" role="form">
                            <div class="form-group has-feedback">
                                <input type="text" class="form-control" name="login" id="login" placeholder="Ingrese el Login" oninvalid="InvalidMsg(this, 'Ingrese el login')" required="required">
                                <span class="glyphicon glyphicon-user form-control-feedback"></span>
                            </div>
                        </div>                    
                    </td>
                </tr>
                <tr>
                    <td><label for="password">Password</label></td>
                    <td>
                        <div class="form-inline" role="form">
                            <div class="form-group has-feedback">
                                <input type="password" class="form-control" id="password" name="password"  placeholder="Ingrese el Password" oninvalid="InvalidMsg(this, 'Ingrese el password')" required="required">
                                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                            </div>
                        </div>           
                    </td>
                </tr>
                @*<tr>
                    <td><label for="cpassword">Confirmar Password</label></td>
                    <td>
                        <div class="form-inline" role="form">
                            <div class="form-group has-feedback">
                                <input type="password" class="form-control" id="cpassword" name="cpassword" placeholder="Ingrese de nuevo Password" oninvalid="InvalidMsg(this, 'Ingrese el password a confirmar')" required="required">
                                <span class="glyphicon glyphicon-lock form-control-feedback"></span>
                            </div>
                        </div>          
                    </td>
                </tr>*@
            </table>
        </div><!-- END PANEL -->       
    </div>
    <div class="modal-footer" style="margin-top:-30px">
        <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
        <input type="submit" class="btn btn-primary" id="btnSubmit" value="Guardar" />
    </div>
</div>
}
<script>
$(document).ready(function() {
    //$("#dwtipo").select({
    //    dropdownParent: $("#myModal")

     
    //});

    //var ip = java.net.InetAddress.getLocalHost().getHostAddress();
    //console.log('Tu IP es: "' + ip + '"')
});
</script>
