@{
    Layout = null;
}
<table id="tabPromtipo" class="table dataTable table-hover table-striped table-responsive">
    <thead>
        <tr>
            <th>ARTICULO</th>
            <th>TALLA</th>
            <th>CANTIDAD</th>            
            <th>DEVOLVER</th>     
        </tr>
    </thead>
    <tbody data-bind="foreach:"></tbody>
    <tfoot>
        <tr>
            <th>ARTICULO</th>
            <th>TALLA</th>
            <th>CANTIDAD</th>     
            <th>DEVOLVER</th>             
        </tr>
    </tfoot>
</table>
