<table class="table table-hover dataTable  table-striped table-responsive">
    <thead>
       <tr style="background-color:#dd4b39; color:#ecf0f1">

            <th>Id</th>
            <th>Nombre</th>           
            <th>Orden</th>            
            <th></th>            
        </tr>
    </thead>
    <tbody data-bind="foreach:">
        @using CapaEntidad.Control
        @model IEnumerable<Ent_Aplicacion>

        @foreach (Ent_Aplicacion item in Model)
        {
            <tr>
                <td>@item.apl_id.ToString()</td>
                <td>@item.apl_nombre</td>                
                <td>@item.apl_orden</td>                
                <td>
                    <div class="pull-right">
                        <button title="Editar Aplicación" style="border-radius:50%"  class="btneditar btn btn-primary" data-id="@item.apl_id" data-modal="" data-toggle="modal"><span class="glyphicon glyphicon-pencil"></span></button>
                    </div>
                </td>
            </tr>

        }
    </tbody>
    @if (Model.Count() != 0)
    {
        <tfoot>
            <tr>
                <th>Id</th>
                <th>Nombre</th>                
                <th>Orden</th>                
                <th></th>
            </tr>
        </tfoot>
    }
</table>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" ng-app>
    <div class="modal-dialog">
        <div class="modal-content">
            <div id='myModalContent'></div>
        </div>
    </div>
</div>


