
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/toastr.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/site.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/font-awesome-4.5.0/css/font-awesome.min.css" rel="stylesheet" type="text/css" />
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    <style>
        .imgstyle{
            width: 68%;
            height: 68%;
            margin-left: 12em;
            margin-top: 30px;
        }
    </style>
</head>
<body>
    <div id="content" >
        <div class="col-md-12 col-lg-12 col-sm-12 align-content-sm-center align-content-center align-content-md-center align-content-lg-center">
            <form> 
                <div class="form-row">
                    @*Imagen de referencia para el registro del CVV*@
                    <img class="imgstyle" src="~/Content/MercadoPago/img/informativo.png" alt="Alternate Text" />
                </div>
            </form>
            <br />
        </div>
    </div>
    <div id="footer"> 
        <button class="btn btn-brand-02" style="margin-left:26em; width: 150px; cursor:pointer; background:#007bff;" id="btnClose" data-dismiss="modal" onclick="parentCloseModalDetail();">
            <span style="color: #fff; ">Cerrar</span>
        </button>
    </div>
       
    <script>
        function parentCloseModalDetail() {
            parent.parentCloseModalDetailCardCvvView();
            return false;
        }
    </script>
</body>
</html>
